<!doctype html>

<html>
<head>
	<title>Emergency details printout</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<style>
		body {
			padding: 50px;
		}
	</style>
</head>
<body>

<h1>Emergency details printout</h1>

<p>Why?</p>

<ul>
	<li>Be prepared. Having good plans can save a life!</li>
	<li>Pictorial symbols ("emojis") to visually locate info fast</li>
	<li>These guided questions that can give you new preparation tips that you haven't considered.</li>
</ul>

<h2>Example</h2>

<p>
	<small class="text-muted">
		NOTE: Mine is in Finnish, but English and other languages available.
	</small>
</p>

<img src="assets/example.jpg" alt="Example printout" />


<h2>Make one for yourself!</h2>

<p>You can leave any field blank to skip not display that row.</p>

<p>Privacy: we don't log these details, but if you don't feel comfortable entering personal details
(like address), use a single space to leave field empty and fill it manually after printing. (Without
the space the row will not be printed at all)</p>

<form action="generate" method="post">
	<div class="form-group row">
		<label class="col-sm-2 col-form-label" for="">Language</label>
		<div class="col-sm-10">
			<select name="lang" class="form-control">
				<option value="en">English</option>
				<option value="fi">Finnish</option>
			</select>

	    	<small class="form-text text-muted">
	    		These set the headings and other pre-made texts.
				(want to&nbsp;<a target="_blank" href="https://github.com/joonas-fi/emergency-details-printout#contribute-translations">help with translations</a>?)
	    	</small class="form-text text-muted">
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label" for="emergencyNumber">Emergency number</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="emergencyNumber" value="911" />

	    	<small class="form-text text-muted">
	    		Your <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_emergency_telephone_numbers">national emergency number</a>
	    		that can help in ambulance, fire & police matters.
	    	</small>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label" for="">Address</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="address" value="89 Gainsway Rd., Rockville, MD 20850" />

	    	<small class="form-text text-muted">
	    		In critical emergencies you could have trouble remembering even your own address. Or
	    		you could have a guest that doesn't know/remember the exact address.
	    	</small>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label" for="">Fire</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="fire" value="🧯 in laundry cabinet. Don't use an elevator!" />

	    	<small class="form-text text-muted">
	    		Where to find a fire extinquisher or a <a target="_blank" href="https://en.wikipedia.org/wiki/Fire_blanket">fire blanket</a>.
	    		If you live in an apartment, mention that <a target="_blank" href="https://frakerfire.com/never-use-elevator-during-fire-why/">"don't use an elevator!"</a>.
	    	</small>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label" for="">Bleeding</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="bleeding" value="First-aid kit on top of medicine cabinet" />

	    	<small class="form-text text-muted">
	    		Location of your <a target="_blank" href="https://en.wikipedia.org/wiki/First_aid_kit">first-aid kit</a>,
	    		for handling acute bleeding.
	    	</small>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label" for="">Water leak</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="waterLeak" value="Shut-off valve at ground floor in front of storage entrance" />

	    	<small class="form-text text-muted">
	    		If a water pipe bursts or a tap's gasket fails, it's good to know where the
	    		<a href="https://www.thespruce.com/how-to-find-main-water-shutoff-valve-1822492">water shut-off valve is</a>.
	    		I personally have had this happen.
	    	</small>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label" for="">Maintenance Company</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="maintenanceCompany" value="XYZ property maintenance Inc, +1 206 555 0100" />

	    	<small class="form-text text-muted">
	    		If you live in an apartment, there usually is an assigned maintenance company. You should
	    		have their number in hand if something acute happens like a water leak you can't stop yourself.
	    	</small>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label" for="">Veterinarian</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="veterinarian" value="HappyPets, 9738 Woodside Road, Durham, NC 27703, +1 206 555 0199" />

	    	<small class="form-text text-muted">
	    		If you have pets, it might be a good idea to have a local veterinarian's contact details -
	    		one that is open 24/7.
	    	</small>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label" for="">Contact details</label>
		<div class="col-sm-10">
			<div class="form-row">
				<div class="form-group col-md-2">
					<input type="text" class="form-control" name="contact1label" value="Bob" />
				</div>
				<div class="form-group col-md-10">
					<input type="text" class="form-control" name="contact1value" value="+1 206 555 0345" />
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-2">
					<input type="text" class="form-control" name="contact2label" value="" placeholder="Alice" />
				</div>
				<div class="form-group col-md-10">
					<input type="text" class="form-control" name="contact2value" value="" placeholder="+1 206 555 0456" />
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-2">
					<input type="text" class="form-control" name="contact3label" value="" placeholder="Grandmother" />
				</div>
				<div class="form-group col-md-10">
					<input type="text" class="form-control" name="contact3value" value="" placeholder="+1 206 555 789" />
				</div>
			</div>

			<small class="form-text text-muted">
				If you occasionally have people over (guests, nanny etc.), it might be a good idea
				to leave your own contact details so you can be reached if they happen to lose your number (perhaps by their phone breaking).
			</small>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label" for="">Illustrated instructions</label>
		<div class="col-sm-10">

	      <div class="form-check">
	        <input class="form-check-input" checked type="checkbox" id="gridCheck1" name="resuscitation" />
	        <label class="form-check-label" for="gridCheck1">
	          Print resuscitation instructions
	        </label>
	      </div>

	      <div class="form-check">
	        <input class="form-check-input" checked type="checkbox" id="gridCheck2" name="heimlich" />
	        <label class="form-check-label" for="gridCheck2">
	          Print Heimlich instructions
	        </label>
	      </div>
		</div>
	</div>



	<input type="submit" name="pdf" value="Open PDF" />
	<input type="submit" name="pdf_attachment" value="Download PDF" />
</form>

<small class="text-muted">
	Problems, enhancement ideas:
	<a target="_blank" href="https://github.com/joonas-fi/emergency-details-printout/issues">report issue here</a>
</small>

</body>
</html>
